<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation") %>
      <!-- end desktop nav -->

      <div class="row">
        <div class="col-12 pb-3">
          <img src="images/textured_deer_2x.png" class="deer mx-auto d-block" width="30%">
          <img class="arrow mx-auto d-block" src="images/icon_arrows.svg" width="50" height="50">
        </div>
      </div>

    </div>
  </header>

  <main class="container">
    <div class="row mb-5">
      <div class="col-10 offset-1 mb-2">
       <h1>About</h1>
       <p>Starting out in electrical engineering, I have always loved tinkering with technology and coding. I enjoy discovering how things work and often take the hard way out of situations in order to achieve a better understanding of how things function.</p>
       <p>I believe that form should follow function, but function should have a pleasing form. That is why I decided to pursue interactive and graphic design as well as engineering. I love seeing a project from start to finish. From concept to creation. I believe it is integral to any successful product or campaign.</p>
       <p>When I am not designing or developing, I enjoy working on personal projects or cultural events for my coworkers. Some examples include: x, x, x. Going to Hackathons or Startup Weekends, or adventure-ing with my dog Leela {@pixel.tots}, or playing poker.</p>
      </div>
    </div>
    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>