<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-lg-n5">
      <div class="col-12 col-lg-10 offset-0 offset-lg-1 border-header px-4 pt-4 px-sm-5">
        <div class="row">
          <div class="col-12 col-lg-7">
            <h1>About</h1>
            <p>I am an energetic and outspoken front end developer-designer hybrid. I graduated with a degree in electrical engineering before transitioning to web development, where I believe my true passion lies. It's difficult to say that I've developed a professional specialty in my career, because my daily work moves me from web development to animation to technology to machine tinkering, and many things between. I pride myself on being a Swiss Army Knife of knowledge and skills, web-related and beyond, and I'm very enthusiastic about helping to empower other women in tech.</p>
        </div>
       <div class="col-12 col-md-6 offset-md-3 offset-lg-0 col-lg-5 mt-lg-5 mt-0">
        <img src="images/portrait.png" class="img-fluid">
       </div>
        </div>
       
      </div>
    </div>

    <div class="row">
      <div class="col-12 px-sm-5 px-md-0 px-lg-3 col-md-10 offset-0 offset-md-1">
        <p>When not programming, I adore hanging out with my small dog, Leela, nerd-ing out with my friends, and working endlessly on art or home improvement projects.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 px-sm-5 px-md-3 col-md-10 offset-0 offset-md-1">
        <h2>Volunteer Opportunities</h2>
        <ul class="pl-2 list-blue">
          <li>Volunteer with <a href="https://www.habitat.org/" target="_blank">Habitat for Humanity</a></li>
          <li>Instructor for Intro to HTML/CSS through <a href="https://www.girldevelopit.com/chapters/wilmington" target="_blank">Girl Develop It! Wilmington</a></li>
          <li>Helped start the Archer Holiday Marketplace</li>
          <li>Lead for the <a href="http://archergroup.tumblr.com/post/152022870030/the-annual-archer-open-is-an-agency-wide-mini-golf" target="_blank">Annual Archer Open Mini Golf Event</a></li>
          <li><a href="https://campceliac.org/" target="_blank">Camp Celiac</a> Volunteer Designer</li>
          <li>Active member in the <a href="https://www.archer-group.com/archer-cares" target="_blank">Archer Culture Club</a></li>
        </ul>
      </div>
    </div>


    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>