<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Account Selector</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n1 mb-3 mb-md-0 mt-3 mt-md-0">
        <span class="logo-mandt-grey d-inline-block"></span>
      </div>
       <p>This page was built to be an overview of all checking accounts that M&amp;T has to offer. Traffic would be driven to the page through email and banner promotions. I was responsible for the static carve and worked with the creative team to discuss animations and page interactions. I was also responsible for maintaining ADA compliancy through development as well as screen-reader content. The project was then integrated into Umbraco to allow easy addition of accounts and regional offerings.</p>
       <ul class="pl-2 list-blue">
        <li><a href="https://umbraco.com/" target="_blank">Umbraco</a> CMS Integration</li>
          <li><a href="https://gulpjs.com/" target="_blank">Gulp</a> / <a href="http://harpjs.com/" target="_blank">Harp</a> Local Build</li>
          <li><a href="https://www.ioninteractive.com/" target="_blank">ION Interactive</a> CMS Coupon Integration</li>
        </ul>
        <a href="https://checking.mtb.com/">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Visit Website</button>
        </a>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-2 mt-5">
        <h2>Page Designs</h2>
      </div>
      <div class="col-12 col-md-8 offset-0 offset-md-1 mb-5">
        <img src="images/projects/accountselector/desktop1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-2 offset-0 mb-5">
        <img src="images/projects/accountselector/mobile1.jpg" class="img-fluid shadow d-md-flex m-auto m-md-0 d-block">
      </div>
      <div class="col-12 col-md-8 offset-0 offset-md-1 mb-5">
        <img src="images/projects/accountselector/desktop2.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>