<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Boyscouts of DelMarVa</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-0 mb-3 mb-md-0 mt-3 mt-md-0">
        <span class="logo-delmarva-grey d-inline-block"></span>
      </div>
       <p class="mt-md-2">
        To goal of this project was to re-skin a site which was built using an older CMS called <a href="http://www.doubleknot.com/" target="_blank">DoubleKnot</a>. I was responsible for taking the creative comps, building the project locally, and then integrating it with <a href="http://www.doubleknot.com/" target="_blank">DoubleKnot</a>. This site was responsive and built using Bootstrap 4.</p>
        <ul class="pl-2 list-blue">
          <li><a href="http://www.doubleknot.com/" target="_blank">DoubleKnot</a> CMS Integration</li>
          <li><a href="https://gulpjs.com/" target="_blank">Gulp</a> / <a href="http://harpjs.com/" target="_blank">Harp</a> Local Build</li>
          <li><a href="https://www.megamenu.com/" target="_blank">MegaMenu</a> Navigation Builder</li>
        </ul>
        <a href="http://www.delmarvacouncil.org/" target="_blank">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Visit Website</button>
        </a>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Page Design</h2>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-5 mt-2">
        <img src="images/projects/boyscouts/desktop1.jpg" class="img-fluid shadow">
      </div>
    </div>


    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>