<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
       <h1 class="d-inline">Champions of Home</h1>
       <span class="logo-wawa-grey d-inline-block ml-5"></span>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam fringilla. Nunc viverra molestie dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum. </p>
       <ul class="pl-2 list-blue">
          <li>Thing 1</li>
          <li>Thing 2</li>
          <li>Third bullet</li>
        </ul>
        <button type="button" class="btn btn-primary btn-lg px-4 mt-2">Visit http://www.championsofhome.com/</button>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <h2>Designing Pages</h2>
      </div>
      <div class="col-5 offset-1 mb-5">
        <img src="images/projects/californiarealtors/staging.jpg" class="img-fluid shadow">
      </div>
      <div class="col-5 offset-0 mb-5">
        <img src="images/projects/californiarealtors/sellingyourhome.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-5 offset-1">
        <img src="images/projects/californiarealtors/desktop.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>