<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Champions of Home</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom mt-2">
        <span class="logo-car-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>This design project was started as a place where potential home buyers could go to find out various tips and facts about purchasing a home. The overarching light blue color scheme was intended to create an light and airy feel while still remaining consistent with their brand. I was responsible for working with the creative team to design various pages and page interactions.</p>
        <a href="http://www.championsofhome.com/">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Visit Website</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-5 mb-2">
        <h2>Page Designs</h2>
      </div>
      <div class="col-12 col-md-5 offset-0 offset-md-1 mb-5">
        <img src="images/projects/californiarealtors/staging.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-5 offset-0 mb-5">
        <img src="images/projects/californiarealtors/sellingyourhome.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 offset-0 offset-md-1">
        <img src="images/projects/californiarealtors/desktop.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>