<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->

<header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container pb-5">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="d-block d-md-inline">
        <h1 class="d-inline">Contact</h1>
      </div>
       <p class="mt-2">If you enjoyed any of my work, please let me know! I love receiving emails and almost always respond within 24 hours.</p>
       <p>I believe that form should follow function, but function should have a pleasing form. That is why I decided to pursue interactive and graphic design as well as engineering. I love seeing a project from start to finish. From concept to creation. I believe it is integral to any successful product or campaign.</p>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 px-4 px-sm-5 mt-4">
        <a href="mailto:korywalton@gmail.com">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Send Email</button>
        </a>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        &nbsp;
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        &nbsp;
      </div>
    </div>

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>