<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Washington DC Store Opening</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom mt-3">
        <span class="logo-wawa-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>Wawa built its first store in Washington D.C. and wanted to celebrate breaking into the new Market. This gorgeous store had 50” screens that the client wanted to use as a hands-on interactive history of Wawa. I was responsible for taking the PSDs from the creative team and adding 3D animation effect to the screen savers. Through various rounds of feedback and revisions, we landed with the video below.</p>
      </div>
    </div>
    <div class="row mt-md-5">
      <div class="col-12 col-md-6 offset-0 offset-md-1 mb-md-5 mt-3 mt-md-0">
        <h2>Animating for a Giant Screen</h2>
        <p>Since the screens that would be playing these animations were so large, it was important to understand scale and the users distance from the screen. It was a fun exercise in creating clarity as well as keeping it visually interesting in such a large space.</p>
      </div>
      <div class="col-12 col-md-4 offset-0 mb-md-5">
        <img src="images/projects/dcstoreopening/screens.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-5 mt-md-0 mb-2">
        <h2>Screensaver Animation</h2>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-5">
        <video width="100%" class="shadow" poster="images/projects/dcstoreopening/screensaver_poster.jpg" controls autoplay>
          <source src="images/projects/dcstoreopening/screensaver.mp4" type="video/mp4">
        </video>
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>