<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Washington DC Store Opening</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-1 mt-2 mt-md-0 mb-md-0">
        <span class="logo-wawa-grey d-inline-block"></span>
      </div>
       <p class="mt-2">To celebrate the grand opening of Wawa's first store in Washington, D.C., we were asked to build an interactive experience celebrating the a sense of community and neighborhood. This gorgeous store installed 50” touchscreens, which the client wanted to use for a hands-on history of Wawa. I was responsible for building the creative team's vision and adding 3D animation effects to the screen savers to entice customers to interact with the screens.</p>
      </div>
    </div>

    <div class="row mt-md-5">
      <div class="col-12 col-md-6 offset-0 offset-md-1 mb-md-5 mt-3 mt-md-0 px-sm-5 px-md-4 px-lg-3">
        <h2>Animating for a Giant Screen</h2>
        <p>Since the screens were so large, it was important to understand scale and the user's proximity to the screen, as well as his/her field of view. It was a fun exercise in designing and creating a large-scale animation, while keeping the screens visually interesting across such a large space.</p>
      </div>
      <div class="col-10 offset-1 col-md-4 offset-md-0 mb-md-5">
        <img src="images/projects/dcstoreopening/screens.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-5 mt-md-0 mb-2">
        <h2>Screensaver Animation</h2>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-5">
        <video width="100%" class="shadow" poster="images/projects/dcstoreopening/screensaver_poster.jpg" controls autoplay>
          <source src="images/projects/dcstoreopening/screensaver.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>