<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Find the Freshness</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0">
       <span class="logo-dial-grey d-inline-block"></span>
      </div>
       <p>The Find the Freshness Campaign was a social media game for fans. Visitors could vote for which prizes they wanted for the weekly giveaway. This particular campaign had many components, but I was responsible for designing emails and some landing page comps.</p>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Email Design</h2>
      </div>
      <div class="col-12 col-md-5 offset-0 offset-md-1">
        <img src="images/projects/dialformen/email1.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-5">
        <h2>Landing Page Designs</h2>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <img src="images/projects/dialformen/desktop1.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 my-4">
        <img src="images/projects/dialformen/desktop2.jpg" class="img-fluid shadow">
      </div>
    </div>

  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>