<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row mb-md-2">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Find the Freshness</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom">
        <span class="logo-dial-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>The Find the Freshness Campaign was a social media game for fans. Visitors could vote for which prizes they wanted for the weekly giveaway. This particular campaign had many components, but I was responsible for designing emails and some landing page comps.</p>
      </div>
    </div>




    <div class="row mt-2">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Email Design</h2>
      </div>
      <div class="col-12 col-md-5 offset-0 offset-md-1">
        <img src="images/projects/dialformen/email1.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-5">
        <h2>Landing Page Designs</h2>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <img src="images/projects/dialformen/desktop1.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 my-4">
        <img src="images/projects/dialformen/desktop2.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>