<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
   
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-sm-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Flatbreads Campaign</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0">
        <span class="logo-wawa-grey d-inline-block mt-3 mt-md-0"></span>
      </div>
       <p>To promote their new flatbread sandwiches, Wawa wanted to create a visually different campaign. The visual identity of the campaign was very environmental, as seen through the painting-esque landscapes. I was responsible for creating the watercolor animation across the following various media types.</p>
      </div>
    </div>
    

    <div class="row mt-md-5">
      <div class="col-8 col-md-4 offset-2 offset-md-2 mb-md-5">
        <img src="images/projects/flatbreads/flatbreads_tuscan.png" class="img-fluid">
      </div>
      <div class="col-8 col-md-4 offset-2 offset-md-0 mb-md-5 mt-3 mt-md-0">
        <img src="images/projects/flatbreads/flatbreads_single.png" class="img-fluid">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 offset-0 offset-md-1 col-md-5 offset-md-1 col-md-3 mt-md-3">
        <h2>Adding Animations</h2>
        <p>Adding the brush stroke animation to the background images would have been a bit difficult using Javascript or CSS and probably wouldn’t have given us the exact effect we were looking for. Instead, we opted for an auto-play MP4 that was strategically placed on the page. The videos would be triggered to auto-play when they came into a user’s view window.</p>
      </div>
      <div class="col-12 offset-0 col-md-5 my-md-4">
        <video width="100%" class="shadow" poster="images/projects/flatbreads/flatbreads_poster.jpg" controls autoplay>
          <source src="images/projects/flatbreads/flatbreads_animated.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 my-5">
        <h2>Channel Takeover</h2>
        <img src="images/projects/flatbreads/flatbreads_carve.jpg" class="shadow img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-4">
        <h2>Digital Signage</h2>
        <video width="100%" class="shadow" poster="images/projects/flatbreads/flatbreads_poster2.jpg" controls autoplay>
          <source src="images/projects/flatbreads/wawaflatbreads_ds.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>