<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Hoagiefest</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0">
        <span class="logo-wawa-grey d-inline-block"></span>
      </div>
       <p>Hoagiefest is Wawa’s flagship campaign and I am honored to have been apart of it since 2016. I have been involved in almost every facet of our deliverables. Though the visual identity of the campaign has changed over the years, the vibe and soul of the campaign has remained community-based and filled with summertime vibes.</p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-10 offset-1 col-md-3 offset-md-1">
        <img src="images/projects/hoagiefest/logo_2017fl.png" class="img-fluid">
      </div>
      <div class="col-10 offset-1 offset-md-0 col-md-3">
        <img src="images/projects/hoagiefest/logo_2017.png" class="img-fluid">
      </div>
      <div class="col-10 offset-1 offset-md-0 col-md-3">
        <img src="images/projects/hoagiefest/logo_2018.png" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-5">
        <h2>HTML5 Banners</h2>
        <img src="images/projects/hoagiefest/hoagiefest_timeline.png" class="shadow img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-6 offset-md-1 col-md-3">
        <div class="row">
          <div class="col-6">
            <img src="images/projects/hoagiefest/vespa-girl.jpg" class="shadow img-fluid">
          </div>
          <div class="col-6">
            <img src="images/projects/hoagiefest/vespa-pieces.png" class="shadow img-fluid">
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-md-2 offset-md-0 mb-4">
       <video width="100%" class="shadow" poster="images/projects/hoagiefest/hoagiefestbanner_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hoagiefestbanner.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <h2>Digital Signage</h2>
        <video width="100%" class="shadow" poster="images/projects/hoagiefest/hf_1_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hf_1.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/hoagiefest/hf_2_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hf_2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/hoagiefest/hf_3_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hf_3.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>