<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
       <h1 class="d-inline">Hoagiefest</h1>
       <span class="logo-wawa-grey d-inline-block ml-5"></span>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam fringilla. Nunc viverra molestie dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-1 mb-5">
        <img src="images/projects/hoagiefest/logo_2017fl.png" class="img-fluid">
      </div>
      <div class="col-3 offset-0 mb-5">
        <img src="images/projects/hoagiefest/logo_2017.png" class="img-fluid">
      </div>
      <div class="col-3 offset-0 mb-5">
        <img src="images/projects/hoagiefest/logo_2018.png" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-5">
        <h2>HTML5 Banners</h2>
        <img src="images/projects/hoagiefest/hoagiefest_timeline.png" class="shadow img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-6 offset-md-1 col-md-3">
        <div class="row">
          <div class="col-6">
            <img src="images/projects/hoagiefest/vespa-girl.jpg" class="shadow img-fluid">
          </div>
          <div class="col-6">
            <img src="images/projects/hoagiefest/vespa-pieces.png" class="shadow img-fluid">
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-md-2 offset-md-0 mb-4">
       <video width="100%" class="shadow" poster="images/projects/hoagiefest/hoagiefestbanner_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hoagiefestbanner.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <h2>Digital Signage</h2>
        <video width="100%" class="shadow" poster="images/projects/hoagiefest/hf_1_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hf_1.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/hoagiefest/hf_2_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hf_2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/hoagiefest/hf_3_poster.jpg" controls autoplay>
          <source src="images/projects/hoagiefest/hf_3.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>