<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg bg-fixed pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Honest Pets Calendar</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0">
        <span class="logo-honestkitchen-grey d-inline-block"></span>
      </div>
       <p>Honest Kitchen wanted to create a printed calendar that was created through fan submitted pet photos. I was asked to design the user flow experience as well as exploring different animation options, such as loading animations. Some pet assets were provided by the client, but it was my responsibility to create a new experience that was still true to the brand.</p>
      </div>
    </div>

    <div class="row my-3">
      <div class="col-8 offset-0 offset-md-1">
        <h2>Loading Animations</h2>
        <p>While the users were waiting for their submissions to be received from the server, rather than having a blank screen, we decided to have a loading animation. We chose something subtle but noticeable enough to let users know the page had not timed out.</p>
      </div>
      <div class="col-4 col-md-3 offset-0 mt-5">
        <img src="images/projects/honestkitchen/thk_loading.gif" class="img-fluid">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-3">
        <h2>Submitting your pet flow</h2>
      </div>
      <div class="col-6 col-sm-4 col-md-2 offset-0 offset-md-1 mb-5">
        <img src="images/projects/honestkitchen/thk_mobile1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-6 col-sm-4 col-md-2 offset-0 mb-5">
        <img src="images/projects/honestkitchen/thk_mobile2.jpg" class="img-fluid shadow">
      </div>
      <div class="col-6 col-sm-4 col-md-2 offset-0 mb-5">
        <img src="images/projects/honestkitchen/thk_mobile3.jpg" class="img-fluid shadow">
      </div>
      <div class="col-6 col-sm-4 col-md-2 offset-0 mb-5">
        <img src="images/projects/honestkitchen/thk_mobile4.jpg" class="img-fluid shadow">
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 offset-0">
        <h2>Campaign Email Designs</h2>
      </div>
      <div class="col-12 col-md-3 offset-0 offset-md-1 mb-md-5 mb-3">
        <img src="images/projects/honestkitchen/thk_email2.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-3 offset-0 mb-md-5 mb-3">
        <img src="images/projects/honestkitchen/thk_email1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-3 offset-0 mb-md-5 mb-3">
        <img src="images/projects/honestkitchen/thk_email3.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>