<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Inside Access</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0">
        <span class="logo-united-grey d-inline-block"></span>
        <span class="logo-chase-grey d-inline-block ml-4"></span>
      </div>
       <p>Inside Access was built to provide United customers and Chase cardholders a single place where they could redeem their points. I was responsible for the static carve of the creative received from the creative team. I worked with the back end team to handle the data that was being pulled in from various databases and remaining consistent on the page.</p>
       <ul class="pl-2 list-blue">
        <li><a href="https://umbraco.com/" target="_blank">Umbraco</a> CMS Integration</li>
          <li><a href="https://gulpjs.com/" target="_blank">Gulp</a> / <a href="http://harpjs.com/" target="_blank">Harp</a> Local Build</li>
          <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a></li>
        </ul>
        <a href="https://www.insideaccess.com/">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Visit Website</button>
        </a>


      </div>

    </div>



    <div class="row mt-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Designing Hover States</h2>
      </div>
      <div class="offset-0 col-7 offset-md-1 mb-5">
        <p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam.</p>
      </div>
      <div class="col-5 col-md-3 offset-0 mb-5 mt-3">
        <video width="100%" class="shadow" poster="images/projects/insideaccess/animatedhoverstate_poster.jpg" controls autoplay>
          <source src="images/projects/insideaccess/animatedhoverstate.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Page Comps</h2>
      </div>
      <div class="col-12 col-md-8 offset-0 offset-md-1 mb-5">
        <img src="images/projects/insideaccess/insideaccess-desktop.jpg" class="img-fluid shadow">
      </div>
      <div class="col-8 col-md-2 offset-2 offset-md-0 mb-5">
        <img src="images/projects/insideaccess/insideaccess-mobile.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>