<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-sm-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Inside Access</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-2 mt-3 mt-md-0 mb-md-0">
        <span class="logo-united-grey d-inline-block ml-2 ml-md-0"></span>
        <span class="logo-chase-grey d-inline-block ml-4"></span>
      </div>
       <p>Inside Access was built to provide United customers and Chase cardholders with a single place to redeem reward points. I was responsible for the static carve of the creative comp received from the design team. With a goal of ensuring a consistent user experience, I worked with the back end team to handle content being pulled in from multiple different databases and APIs.</p>
       <ul class="pl-2 list-blue">
        <li><a href="https://umbraco.com/" target="_blank">Umbraco</a> CMS Integration</li>
          <li><a href="https://gulpjs.com/" target="_blank">Gulp</a> / <a href="http://harpjs.com/" target="_blank">Harp</a> Local Build</li>
          <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a></li>
        </ul>
        <a href="https://www.insideaccess.com/" target="_blank">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Visit Website</button>
        </a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 offset-0 offset-md-1 col-md-6 col-lg-7 offset-md-1 mt-md-3 px-sm-5 px-md-4 px-lg-3">
        <h2>Developing for Compliance</h2>
        <p>To meet legal requirements, the client needed the entire tile to have a hover state, but it had to include various icons to be centered below text of variable length. From a developer perspective, this was an interesting problem to solve, because it allowed me to use flex-box for the first time.</p>
        <p>The client also needed the ability to change the "Sold Out" banner to become "Now Available" or "Coming Soon." For the final product, this single tile needed to accommodate many dynamic states changing on-the-fly.</p>
      </div>
      <div class="col-8 offset-2 col-md-4 offset-md-0 col-lg-3 my-md-4 px-sm-5 px-md-4 px-lg-3 mb-4">
        <video width="100%" class="shadow" poster="images/projects/insideaccess/animatedhoverstate_poster.jpg" controls autoplay>
          <source src="images/projects/insideaccess/animatedhoverstate.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Page Comps</h2>
      </div>
      <div class="col-12 col-md-8 offset-0 offset-md-1 mb-5">
        <img src="images/projects/insideaccess/insideaccess-desktop.jpg" class="img-fluid shadow">
      </div>
      <div class="col-8 col-md-2 offset-2 offset-md-0 mb-5">
        <img src="images/projects/insideaccess/insideaccess-mobile.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>