<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg bg-fixed pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Veg of Allegiance</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0">
        <span class="logo-morningstar-grey d-inline-block"></span>
      </div>
       <p>This campaign was multifaceted, but I was honored to be a part of it. The client had created a food truck that travelled across America promoting Morningstar Farms as well as encouraging people to take the “veg of allegiance” or a promise to the environment or themselves to try to limit their impact on the environment by eating vegetarian for a certain amount of time. The landing page was a way for people to track where the veg of allegiance truck would stop next. </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-md-10 offset-0 offset-md-1 order-first">
        <h2>Animated Page Counter</h2>
      </div>
      <div class="col-12 col-md-7 offset-0 offset-md-1 order-last order-md-2">
        <p>The landing page had a counter that was unable to be updated live. However, the client still wanted an animated counter, so I was responsible for creating a GIF counter that would give the illusion of being updated live. </p>
      </div>
      <div class="col-5 mb-3 mt-1 my-md-0 col-md-3 offset-0 order-2 order-md-3">
         <img src="images/projects/morningstarfarms/counter.gif" class="img-fluid shadow">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Campaign Email Designs</h2>
      </div>
      <div class="col-12 col-md-5 offset-0 offset-md-1 mb-3">
        <img src="images/projects/morningstarfarms/email1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-5 offset-0">
        <img src="images/projects/morningstarfarms/email2.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row mb-5 mt-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Landing Page Designs</h2>
      </div>
      <div class="col-12 col-md-5 offset-0 offset-md-1 mb-3">
        <img src="images/projects/morningstarfarms/page1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-5 offset-0">
        <img src="images/projects/morningstarfarms/page2.jpg" class="img-fluid shadow">
      </div>
    </div>
    






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>