<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline mt-md-4">
        <h1 class="d-inline">Planet of Triumphs</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom">
        <span class="logo-planetfitness-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>Planet of Triumphs was a place where members could post their success stories to share with the Planet Fitness community and encourage others along their path to their fitness goals. The page would pull in from social using certain hashtags as well as accept submissions on the page. I was responsible for designing certain pages along the submission process on the page as well as campaign email designs.</p>
        <a href="https://www.planetoftriumphs.com/">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-2 col-12 col-md-auto">Visit Website</button>
        </a>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Campaign Emails</h2>
      </div>
      <div class="col-12 col-md-5 offset-0 offset-md-1 mb-3">
        <img src="images/projects/planetfitness/email1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-5 offset-0 mb-3">
        <img src="images/projects/planetfitness/email2.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>App Integration Comps</h2>
        <img src="images/projects/planetfitness/desktop1.jpg" class="img-fluid shadow">
      </div>
    </div>






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>