<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Snap a Shelfie</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom mt-3">
        <span class="logo-reyka-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>This campaign was to created to help promote Reyka Vodka through the Snap a Shelfie where users could use social media to enter sweepstakes to win a trip to Iceland - all expenses paid. I was tasked with designing the header space of the page to bring focus to their sweepstakes as well inform visitors about the campaign.</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-md-7 offset-0 offset-md-1 mb-3">
        <img 
        src="images/projects/reyka/desktop1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-8 col-md-3 offset-2 offset-md-0">
        <img src="images/projects/reyka/mobile1.jpg" class="img-fluid shadow">
      </div>
    </div>

  
    






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>