<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline mb-3 mb-md-0">
        <h1 class="d-inline">Snap a Shelfie</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-0 mb-2 mb-md-0">
        <span class="logo-reyka-grey d-inline-block"></span>
      </div>
       <p class="mt-md-2">The Snap a Shelfie campaign was launched to promote Reyka Vodka through social media. Users were encouraged to submit selfies in a competition to win a trip to Iceland. I was tasked with designing the header space of the page to bring focus to their campaign, as well inform visitors about the product itself.</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-md-7 offset-0 offset-md-1 mb-3">
        <img 
        src="images/projects/reyka/desktop1.jpg" class="img-fluid shadow">
      </div>
      <div class="col-8 col-md-3 offset-2 offset-md-0">
        <img src="images/projects/reyka/mobile1.jpg" class="img-fluid shadow">
      </div>
    </div>


    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>