<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-10 offset-1 mb-3">
       <h1>Siptopia</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam fringilla. Nunc viverra molestie dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2 col-md-5 offset-md-1 mb-4">
        <img src="images/projects/siptopia/siptopia-logo.png" class="img-fluid pt-3">
      </div>
      <div class="col-6 offset-3 offset-md-1 col-md-3 mb-4">
        <img src="images/projects/siptopia/siptopia-bird.gif" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-2">
        <h2>In-Store Digital Signage</h2>
        <ul class="pl-2 list-blue">
          <li>Animated using After Effects (creative concept received from creative team)</li>
          <li>Individual character puppetry animated by hand</li>
          <li>Third bullet</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/siptopia/siptopia-quad.jpg" controls autoplay>
          <source src="images/projects/siptopia/siptopia-quad.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-10 offset-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/siptopia/siptopia-ds.jpg" controls autoplay>
          <source src="images/projects/siptopia/siptopia-single.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-5 offset-md-1 mb-4">
        <h2>Email Promotion</h2>
        <img src="images/projects/siptopia/siptopia-email.jpg" class="img-fluid shadow">
      </div>
      <div class="col-10 offset-1 col-md-5 offset-md-0 col-md-3">
        <h2>HTML5 Banners</h2>
        <img src="images/projects/siptopia/siptopia-banner.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 mb-2">
        <h2>Channel Takeover</h2>
        <ul>
          <li>Lorem 1</li>
          <li>Lorem 2</li>
          <li>Third bullet</li>
        </ul>
        <img src="images/projects/siptopia/siptopia-channel.jpg" class="img-fluid shadow">
      </div>
    </div>


    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>