<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Siptopia</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-n2 mb-3 mb-md-0 mt-2 mt-md-0">
        <span class="logo-wawa-grey d-inline-block"></span>
      </div>
       <p class="mt-md-2">The Siptopia campaign launched to promote summertime beverages and new specialty beverages. The client loved the “Snow-White Old School Disney” style and encouraged us to breathe life into the various characters through animation. I was involved with many aspects of the campaign, including digital signage, HTML5 Banner Animation, and SVG animations.</p>
      </div>
    </div>


    <div class="row mb-4">
      <div class="col-8 offset-2 col-lg-4 col-md-5 offset-md-1 offset-lg-3">
        <img src="images/projects/siptopia/siptopia-logo.png" class="img-fluid pt-3">
      </div>
      <div class="col-6 offset-3 offset-lg-0 col-md-3 offset-md-0 col-lg-2">
        <img src="images/projects/siptopia/siptopia-bird.gif" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-2">
        <h2>In-Store Digital Signage</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/siptopia/siptopia-quad.jpg" controls autoplay>
          <source src="images/projects/siptopia/siptopia-quad.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-4">
        <video width="100%" class="shadow" poster="images/projects/siptopia/siptopia-ds.jpg" controls autoplay>
          <source src="images/projects/siptopia/siptopia-single.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5 offset-0 offset-md-1 mb-4">
        <h2>Email Promotion</h2>
        <img src="images/projects/siptopia/siptopia-email.jpg" class="img-fluid shadow">
      </div>
      <div class="col-12 col-md-5 offset-0 col-md-3">
        <h2>HTML5 Banners</h2>
        <img src="images/projects/siptopia/siptopia-banner.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-2">
        <h2>Channel Takeover</h2>
        <img src="images/projects/siptopia/siptopia-channel.jpg" class="img-fluid shadow">
      </div>
    </div>


    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>