<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Just Because Rewards</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom">
        <span class="logo-swarovski-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>Swarovski wanted to promote the launch of their rewards program. Through different levels of spending, various emails would be delivered to customers based on their spending habits. </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1 order-1">
          <h2>Adding Animation to Emails</h2>
        </div>
      <div class="col-12 col-md-7 offset-md-1 offset-0 order-2">
        <p>To add a bit of sparkle to each email, we decided to animate the gemstone. We needed to keep the file size light weight, so a simple 12 frame GIF was what we landed with.</p>
      </div>
      <div class="col-md-3 offset-md-0 offset-4 order-3">
        <img src="images/projects/swarovski/img_crystal.gif" class="img-fluid">
      </div>
    </div>

      <div class="row mt-4">
        <div class="col-12 col-md-10 offset-0 offset-md-1 mb-2">
          <h2>Campaign Emails</h2>
        </div>
        <div class="col-12 col-md-5 offset-0 offset-md-1 mb-3">
          <img src="images/projects/swarovski/email1.jpg" class="img-fluid shadow">
        </div>
        <div class="col-12 col-md-5 offset-0 mb-3">
          <img src="images/projects/swarovski/email2.jpg" class="img-fluid shadow">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1 offset-0">
          <img 
          src="images/projects/swarovski/email3.jpg" class="img-fluid shadow">
        </div>
      </div>

  
    






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>