<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-10 offset-1 mb-5">
       <h1 class="d-inline">Very Merry Rewards</h1>
       <span class="logo-wawa-grey d-inline-block ml-5"></span>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum augue aliquam fringilla. Nunc viverra molestie dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium odio eget nisl efficitur aliquet. Aliquam et tortor rutrum. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <h2>Email Designs</h2>
        <video width="100%" class="shadow" poster="images/projects/verymerryrewards/header_poster.jpg" controls autoplay>
          <source src="images/projects/verymerryrewards/header.mp4" type="video/mp4">
        </video>
      </div>
      <div class="row">
      <div class="col-10 offset-1">
        <img src="images/projects/verymerryrewards/dotcom.jpg" class="img-fluid shadow">
      </div>
    </div>
      <div class="col-10 offset-1 mb-5">
        <img src="images/projects/verymerryrewards/rewards.jpg" class="img-fluid shadow">
      </div>
    </div>
    






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>