<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid gradient-blue">
    <div class="container bg-code">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->

    </div>
  </header>

  <main class="container">
    <div class="row">
      <div class="col-12 col-md-auto offset-0 offset-md-1 col-md-auto order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Very Merry Rewards</h1>
      </div>
      <div class="col-12 col-md-auto d-inline h-auto align-text-bottom">
        <span class="logo-rewards-grey d-inline-block"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mt-2">
        <p>Very Merry Rewards was created to surprise and delight members of the Wawa Rewards program. When users went to <a href="https://www.wawarewards.com" target="_blank">wawarewards.com</a>, they would be able to see which products were free to Wawa Rewards members on a certain day. I was responsible for working with the creative team and animating the snow globe, which was also featured on the homepage of <a href="https://www.wawa.com" target="_blank">Wawa.com</a> as well as building and re-skinning the page and globes. </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Animating for the Campaign</h2>
        <video width="100%" class="shadow" poster="images/projects/verymerryrewards/header_poster.jpg" controls autoplay>
          <source src="images/projects/verymerryrewards/header.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Wawa.com Featured Animation</h2>
         <img src="images/projects/verymerryrewards/dotcom.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Static Page Carve</h2>
        <img src="images/projects/verymerryrewards/rewards.jpg" class="img-fluid shadow">
      </div>
    </div>


    






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>