<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
    <div class="bg-code">
      <div class="container px-0 px-md-auto">
      <!-- start desktop nav -->
      <%- partial("_partials/_navigation-small") %>
      <!-- end desktop nav -->
      </div>
    </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 border-header px-4 pt-4 px-sm-5">
       <div class="order-last order-md-first d-block d-md-inline">
        <h1 class="d-inline">Very Merry Rewards</h1>
      </div>
      <div class="col-12 col-md-auto d-inline-block h-auto align-text-bottom p-0 ml-md-3 ml-0 mb-3 mb-md-0 mt-3 mt-md-0">
        <span class="logo-rewards-grey d-inline-block"></span>
      </div>
       <p class="mt-md-2">
        Very Merry Rewards launched as a delightful holiday surprise for members of the Wawa Rewards program. When users visited <a href="https://www.wawarewards.com" target="_blank">wawarewards.com</a>, they would discover which products were free to Wawa Rewards members on each day of the campaign. I was responsible for working with the creative team to animate the snow globe, which was the centerpiece of the campaign, as well as building and re-skinning each variation of the page and globes. The animation was featured on <a href="https://www.wawa.com" target="_blank">Wawa.com</a> during the holiday season.
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Snow Globe Animation</h2>
        <video width="100%" class="shadow" poster="images/projects/verymerryrewards/header_poster.jpg" controls autoplay>
          <source src="images/projects/verymerryrewards/header.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Wawa.com Featured Animation</h2>
         <img src="images/projects/verymerryrewards/dotcom.jpg" class="img-fluid shadow">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-10 offset-0 offset-md-1">
        <h2>Static Page Design</h2>
        <img src="images/projects/verymerryrewards/rewards.jpg" class="img-fluid shadow">
      </div>
    </div>


    






    

    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>