<!doctype html>
<!-- start html header -->
<%- partial("_partials/_html-header") %>
<!-- end html header -->

<body>
  <!-- pushy mobile nav -->
  <%- partial("_partials/_mobile-nav") %>
  <!-- end pushy mobile nav -->


  <header class="container-fluid sahara-bg pb-5">
      <div class="container px-0 px-md-auto">
        <!-- start desktop nav -->
        <%- partial("_partials/_navigation") %>
        <!-- end desktop nav -->
        <div class="row">
          <div class="col-12 pb-3">
            <div class="deer mx-auto d-block" id="deeranimation">
              <%- partial("_partials/_deeranimation") %>
            </div>
            <img class="arrow mx-auto d-block" src="images/icon_arrows.svg" width="50" height="50">
          </div>
        </div>
      </div>
  </header>

  <main class="container">
    <div class="row mt-n5 mx-md-n5">
      <div class="col-12 col-md-10 offset-0 offset-md-1 mb-md-5 mb-3 border-header px-4 py-3 px-sm-5 py-sm-4">
       <h1>Hello!</h1>
       <p>I believe that designers and developers should work together. Better yet, why can’t we strive to be both? What if animation weren’t treated as an afterthought, but used as a focal point, instead? What if each experience was built with thoughtful integration at the forefront, rather than brought together in hindsight?</p>

       <p>As an engineer with an eye for design, I am continuously seeking opportunities to expand my skills as a developer, as well as find new ways to enrich and present information to the world. I am thrilled to share some of my work with you, and I am proud to have been a part of each of these campaigns.</p>
      </div>
    </div>

    <!-- Homepage tiles -->
    <%- partial("_partials/_tiles-content") %>
    <!-- end Homepage tiles -->
    
  </main>

  <!-- start footer -->
  <%- partial("_partials/_footer") %>
  <!-- end footer -->

  <!-- start footer scripts -->
  <%- partial("_partials/_footer-scripts") %>
  <!-- end footer scripts -->

</body>
</html>